@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;500;600;700&display=swap');

html,
body {
  background-color: #fff;
  padding: 0;
  margin: 0;
  font-family: 'Inter', 'Poppins', 'Lexend Deca', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

ul, ol {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

textarea,input{
  resize: none;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.content {
  margin: 0 auto;
}

code {
  background: #e2e8f0;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
}

table {
  border-collapse: collapse;
}
td {
  margin: 0; /* Optionnel, mais s'assure qu'il n'y a pas de marge */
}










.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper{
  max-width: 1440px;
  margin: auto;
}


.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 260px);
  position: relative;
  color: white;
  text-align: center;
  padding: 0 16rem;
  background-color: transparent;
  overflow: hidden;
  width: 100%;
}

.hero .filter{
  background-color: black;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  opacity: 0.5;
}

.hero img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 1;
}

.hero h1 {
  margin-top: -2rem;
  font-size: 3rem;
  margin-bottom: 0rem;
  z-index: 3;
  max-width: 930px;
}

.hero p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  z-index: 3;
  max-width: 660px;
}
.hero a{
  z-index: 3;
}

.hero button {
  padding: 1rem 2rem;
  font-size: 1.25rem;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}



.intro {
  width: 100%;
  text-align: center;
  padding: 3rem 12rem 5rem 12rem;
  background-color: #f8f9fa;
}

.intro h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.intro p {
  font-size: 1.25rem;
  max-width: 880px;
  margin: auto;

}



.about .wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem 5rem 4rem;
}


.about-content {
  flex: 1;
  padding-right: 4rem;
}

.about-content h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.about-content p {
  font-size: 1.25rem;
}

.about-image {
  flex: 1;
}

.about-image img {
  width: 100%;
  height: 549px;
  border-radius: 16px;
  object-fit: cover;
}

.testimonials {
  background-color: #f8f9fa;
  width: 100%;
}

.testimonials .wrapper {
  display: flex;
  justify-content: space-between;
  padding: 2rem 4rem 4rem 4rem;
  flex-direction: column;
}

.testimonials h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  width: 100%;
  text-align: center;
}

.testimonials-content{
  display: flex;
  justify-content: space-between;
}

.testimonial {
  flex: 1;
  margin: 0 1rem;
}

.testimonial blockquote {
  padding: 1rem;
  background-color: #fff;
  border-left: 5px solid #0070f3;
}

.testimonial blockquote p {
  margin: 0;
  font-size: 1rem;
  color: #333;
}

.testimonial blockquote footer {
  margin-top: 0.5rem;
  font-size: 0.875rem;
  color: #666;
}

.contact {
  width: 100%;
}

.contact .wrapper {
  display: flex;
  justify-content: space-between;
  padding: 5rem 4rem 6rem 4rem;
}

.contact-content {
  flex: 1;
  padding-right: 4rem;
  align-items: center;
}

.contact-content h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.contact-content p {
  font-size: 1.25rem;
}

.contact-form {
  flex: 1;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 1rem;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form textarea {
  height: 100px;
}

.contact-form button {
  padding: 1rem 2rem;
  font-size: 1rem;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}




.legal,
.legal *{
  flex-direction: column;
}

.legal{
  max-width: 720px;
  padding: 4rem 0 8rem 0;
}

.legal h1{
  font-size: 3rem;
}





