.sub {
    padding: 1rem;
    width: 100%;
    text-align: center;
    background-color: #f8f9fa;
    font-size: 0.85rem;
    color: #333;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: calc(1280px + 8rem);
    padding: 0.5rem 4rem;
    background-color: #fff;
    border-bottom: 1px solid #dee2e6;
    position: relative;
  }

  .logo-header{
    display: flex;
    align-items: center;
  }

  .logo-header img{
    margin-right: .75rem;
  }
  
  .nav{
    margin-left: -5rem;
  }
  
  .burger-icon {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  
  .header h1 {
    margin: 0;
    font-size: 1.5rem;
  }
  
  .header nav {
    display: flex;
    gap: 1rem;
  }
  
  .header nav a {
    text-decoration: none;
    font-size: 1rem;
    color: black;
    margin: 0px 10px;
    padding: 0px 10px;
    font-weight: 500;
  }
  
  .header .cart-icon {
    font-size: 1.25rem;
    color: #333;
  }
  
  .burger-icon {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  
  .cart-drawer {
    position: fixed;
    right: 0;
    top: 0;
    width: 360px;
    height: 100%;
    background: white;
    box-shadow: -0px 0 25px rgba(0,0,0,0.15);
    border-left: 1px solid #dee2e6;
    padding: 20px;
    z-index: 1000;
    overflow-y: auto;
    padding: 1.5rem 2rem;
  }
  
  .cart-drawer h2 {
    margin-top: 0;
  }
  
  
  .cart-drawer ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 0rem;
    max-height: 520px;
    overflow-y: auto;
  }
  
  .cart-drawer li {
    display: flex;
    margin-bottom: 1rem;
    position: relative;
  }
  
  .cart-drawer img {
    width: 50px;
    height: 50px;
    margin-right: 1.5rem;
    margin-top: 1.75rem;
  }
  
  .cart-drawer .close {
    display: block;
    margin: 20px auto 0;
    padding: 5px 15px 10px;
    background: white;
    color: black;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 0rem;
    right: 1.5rem;
    font-size: 1.5rem;
    transform: rotate(45deg);
  }

  .cart-drawer .quantity-selector {
    position: absolute;
    bottom: -1px;
    font-size: .75rem;
    right: 24px;
    width: 80px;
    border-radius: 6px;
    border-color: #666;
  }

  .cart-drawer .quantity-selector *{
    font-size: .85rem;
  }

  .cart-drawer .quantity-selector button{
    width: 37px;
    height: 37px;
  }
  
  .cart-drawer .delete{
    color: #333;
    background-color: white;
    cursor: pointer;
    border-radius: 6px;
    border: solid #666 1px;
    font-size: 1rem;
    padding: .5rem .5rem .25rem .5rem;
    position: absolute;
    right: 0rem;
    bottom: 0rem;
  }
  
  .cart-drawer h3{
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 400;
    max-height: 70px;
    overflow: hidden;
  }
  
  .cart-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .cart-drawer li p {
    font-weight: 600;
    margin-top: 0rem;
    position: relative;
    top: 9px;
  }
  
  

  .cart-icon {
    font-size: 1.25rem;
    color: #333;
  }
  
  .cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background: rgb(221, 221, 221);
    color: black;
    border-radius: 50%;
    padding: 0px 6px;
    font-size: 0.75rem;
    font-weight: 500;
  }


  .total{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: solid 1px #cacfd4;
    position: absolute;
    bottom: 6rem;
    right: 2.25rem;
    left: 2.25rem;
  }


  .total h4{
    font-weight: 600;
  }

  .total p{
    margin: 0;
    font-weight: 600;
  }

  .checkout{
    margin-top: 2rem;
    text-align: center;
    font-weight: 500;
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    right: 2rem;
    font-size: 1rem;
    padding: 1rem 2rem;
    border-radius: 8px;
  }

@media (max-width: 1024px) {

    .sub{
        font-size: .75rem;
    }
    
    .header{
        padding: 0.25rem 1.5rem;
    }

    .header .nav ul{
        display: none;
        width: 100%;
        position: absolute;
        left: 0;
        top: 80px;
        background-color: white;
        z-index: 100;
        flex-direction: column;
    }

    .nav ul li {
        margin: 2rem 0;
        text-align: center;
    }

    .burger-icon {
        display: block;
        margin-top: 8px;
    }

    .cart-icon{
        margin-top: 8px;
    }

    .burger-icon {
        display: block;
    }

    .cart-container{
        position: absolute;
        right: 80px;
    }

    .cart-drawer{
        width: 85%;
    }

    .cart-drawer h3{
      margin-bottom: 1rem;
      font-size: .9rem;
    }

    .cart-drawer img{
      margin-top: 1.25rem;
      margin-right: 1rem;
    }

    .cart-icon{
        right: 0;
        bottom: -16px;
        color: black;
    }

    .cart-count{
        top: 0;
    }

    .cart-drawer li p{
      font-size: .85rem;
      top: 5px;
    }
    
}
  