*{
    font-family: 'Poppins';
}

.paiement-container {
  display: flex;
  justify-content: start;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100vh;
}

.left-column, .right-column {
  width: 50%;
  background: white;
  padding: 4rem 6rem;
}

.left-column{   
    background-color: #eaeaf2;
    padding-left: 8rem;
}

.right-column{
    padding-right: 8rem;
    max-width: 660px;
}

.left-column h4{
    font-weight: 400;
    color: rgb(72, 72, 72);
    width: 70%;
    max-height: 46px;
    overflow: hidden;
    font-size: .9rem;
}

.back{
    font-size: 0.85rem;
    font-weight: 400;
}

.shop-info {
  text-align: left;
  margin-bottom: 20px;
  margin-top: 4rem;
}

.shop-info h1{
    font-size: 2rem;
    margin: 0;
    font-size: 600;
}

.shop-info h2{
    font-size: 1rem;
    color: rgb(79, 79, 79);
    font-weight: 500;
    margin:0px;
}



.shop-logo {
  max-width: 100px;
  margin-bottom: 10px;
}

.paiement-container h3{
    font-size: 1rem;
    margin-bottom: .25rem;
    margin-top: 2rem;
    font-weight: 500;
}

.cart-summary{
    max-width: 460px;
}

.cart-summary ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ccc;
  margin-bottom: .5rem;
  margin-top: 2.5rem;
}

.cart-summary li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.cart-summary img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.cart-item{
    display: flex;
    align-items: start;
    width: 100%;
    justify-content: space-between;
    margin-right: .5rem;
    margin-bottom: 1rem;
}

.cart-item *{
    margin: 0;
}

.cart-item p{
    margin-top: 0rem;
    font-weight: 500;
}


.discount {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 0 2rem 0;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #ccc;
}

.total-price {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: bold;
}

.total-price h4{
    font-weight: 7  00;
}

.total-price *{
    margin: 0;
}

.secure.footer{
    position: absolute;
    bottom: 4rem;
}





.checkout-form {
  display: flex;
  flex-direction: column;
}

.checkout-step{
    display: none;
}

.checkout-step.confirmation{
    text-align: center;
    margin-top: 20vh;
}

.checkout-step p {
    color: #666;
    margin-top: .5rem;
    margin-bottom: 2rem;
}

.checkout-step.active{
    display: block;
}




.checkout-buttons{
    display: flex;
    justify-content: space-between;
    }

.checkout-buttons .back-checkout{
    background-color: white;
    color: #666;
    border: solid #666 1px;
    width: 56px;
    margin-right: .75rem;
}

.checkout-buttons .back-checkout:hover{
    border-color: black;
    background-color: white;
}


.checkout-form label {
  margin-bottom: .5rem;
  font-weight: bold;
  display: flex;
  font-weight: 500;
  align-items: center;
}

.checkout-form input {
  padding: .8rem 1rem;
  margin-top: .5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
}
.checkout-form input[type="radio"]{
    width: auto;
}

.checkout-form button {
  background-color: #0070f3;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: .75rem;
  border-radius: 8px;
  padding:.8rem;
  width: 100%;
  font-size: .9rem;
}

.checkout-form button:hover {
  background-color: #111e61;
}


.form-row{
    display: flex;
    justify-content: space-between;
}

.form-row input{
    width: 49%;
}

.stripeLogo{
    width: 40px;
}

.secure-row{
    display: flex;
    align-items: center;
    margin: 1rem auto;
    justify-content: center;
}

.secure{
    font-size: .75rem;
    color: rgb(146, 145, 145);
    font-weight: 500;
    margin-top: .72rem;
    text-align: center;
}

.secure.notice{
    margin-top: 2rem;
    color: #a3a3a3;
}

.secure-row p{
    margin: 0 .5rem 0 -.5rem;
    color: #a3a3a3;
}



.payment-method {
    border: solid 1px #ccc;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    height: 4rem;
}

.payment-method.unvalaible{
    opacity: .5;
    pointer-events: none;
    margin-bottom: 0;
}

.payment-method.selected {
    border: solid 2px #333;
    margin-top: .75rem;
}

.payment-method * {
    margin: 0 !important;
    padding: 0 !important;
}

.payment-method input {
    margin-right: 1rem !important;
    appearance: none;
}

.payment-method img {
    height: 1.5rem;
    position: absolute;
    left: 1.5rem;
}

.payment-method span {
    font-weight: 500;
    font-size: .9rem;
    color: #aaa;
    font-style: italic;
    position: absolute;
    right: 1.5rem;
}












@media (max-width: 1024px) {
    .paiement-container {
        flex-direction: column;
        height: auto;
    }

    .left-column, .right-column {
        width: 100%;
        padding: 2rem;
    }

    .left-column {
        padding-bottom: 2rem;
    }

    .left-column h4{
        width: 70%;
    }

    .right-column {
        padding-bottom: 2rem;
    }

    .shop-info{
        margin-top: 2.5rem;
    }

    .shop-info h1 {
        font-size: 1.5rem;
    }

    .shop-info h2 {
        font-size: 0.875rem;
    }

    .cart-summary {
        margin-top: 1.5rem;
    }

    .cart-summary ul {
        margin-top: 1.5rem;
    }

    .secure.footer{
        position: static;
        margin-top: 2rem;
    }

    .cart-item *{
        font-size:.9rem;
    }

    .cart-item p {
        margin-top: 0.5rem;
    }

    .discount, .total-price {

    }

    .discount {
        margin: 1rem 0 1.5rem 0;
        padding-bottom: 1rem;
    }

    .discount h4{
      font-weight: 600;
    }

    .total-price {
        font-size: 16px;
    }

    .checkout-form label {
        width: 100%;
    }

    .form-row input {
        width: 48.5%;
        margin-bottom: 1rem;
    }
}


.cart-item .quantity input {
    width: 50px;
    text-align: center;
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem;
}