/*PRODUCT GRID*/
/*PRODUCT GRID*/
/*PRODUCT GRID*/

.products .wrapper{
  padding: 3rem 4rem 4rem 4rem;
  width: 100%;
  text-align: center;
}

.products h2{
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.products h4{
  font-size: 1.25rem;
  font-weight: 400;
  max-width: 860px;
  margin:2rem auto 3rem auto;
}


.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0rem;
}

.product-item {
  padding: 1.5rem;
  box-sizing: border-box;
  text-align: left;
  border: .5px solid #dee2e6;
  text-align: center;
}

.product-item:hover {
  border-color: #aaa;
}

.product-item img {
  max-width: 100%;
  height: 254px;
  object-fit: contain;
}

.product-item h3 {
  margin: 0.5rem 0.5rem 0;
  font-weight: 300;
  height: 45px;
  color: #333;
  overflow: hidden;
  font-size: 1rem;
}

.product-item p {
  margin: 0.5rem 0.5rem 0;
  font-weight: 600;
}




.pagination {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
  align-items: center;
}

.pagination span {
  width: 55px;
}

.pagination button {
  background-color: white;
  color: black;
  border: 1px solid black;
  width: 130px;
}