/*PRODUCT GRID*/
/*PRODUCT GRID*/
/*PRODUCT GRID*/

.products .wrapper{
  padding: 3rem 4rem 4rem 4rem;
  width: 100%;
  text-align: center;
}

.products h2{
  font-size: 2.5rem;
  margin-bottom: 2rem;
}


.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0rem;
}

.product-item {
  padding: 1rem;
  box-sizing: border-box;
  text-align: left;
  border: .5px solid #dee2e6;
  text-align: center;
}

.product-item:hover {
  border-color: #aaa;
}

.product-item img {
  max-width: 100%;
  height: 254px;
  object-fit: contain;
}

.product-item h3 {
  margin: 0.5rem 0.5rem 0;
  font-weight: 300;
  height: 45px;
  color: #333;
  overflow: hidden;
  font-size: 1rem;
}

.product-item p {
  margin: 0.5rem 0.5rem 0;
  font-weight: 600;
}

/*PRODUCT PAGE*/
/*PRODUCT PAGE*/
/*PRODUCT PAGE*/

.product-detail .wrapper{
  padding: 4rem 4rem 0 4rem;
  max-width: 1280px;
}


.product-columns {
  display: flex;
  gap: 4rem;
}

.product-image {
  flex: 1;
}

.product-image img{
    width: 100%;
    max-height: 544px;
    object-fit: contain;
}

.product-image img:nth-child(2),
  .product-image img:nth-child(3){
    margin-top: 4rem;
}

.product-info {
  flex: 1;
}

.product-info h1{
    font-size: 1.75rem;
}

.product-info .product-description {
    
    margin-bottom: 1rem;
    max-width: 520px;
}

.product-description ul,
.product-description ol{
  display: block;
  list-style: decimal;
}

.product-description li{
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;
}

.product-description td {
  border: solid 1px grey;
  margin: 0;
  padding: 4px 8px;
  font-size: .95rem;
}

.product-description h3{
  margin-top:2rem;
}

.product-description h4{
  margin-bottom: -.5rem;
  font-weight: 600;
}

.product-info .product-price {
    margin-top: 0rem;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.product-content, .product-features {
  margin-top: 2rem;
}

.product-content h2, .product-features h2 {
  margin-bottom: 1rem;
}

.product-content p, .product-features p {
  margin-bottom: 1rem;
}


.pagination {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
  align-items: center;
}

.pagination span{
  width: 55px;
}

.pagination button{
  background-color: white;
  color: black;
  border: 1px solid black;
  width: 120px;
}