/*PRODUCT PAGE*/
/*PRODUCT PAGE*/
/*PRODUCT PAGE*/

.product-hero .wrapper,
.product-description .wrapper {
  width: 100%;
  padding: 4rem;
}

section.product-hero {
  padding: 4rem;
  width: 100%;
  max-width: 1280px;
}

.product-columns {
  display: flex;
  gap: 4rem;
}

.product-image {
  flex: 1;
  align-items: start;
  position: relative;
  overflow: hidden;
}


.large-image {
  width: 100%;
  height: 500px;
  max-height: 500px;
  object-fit: contain;
  transition: transform 0.5s ease; /* Ajout de la transition pour le zoom */
}

.large-image:hover{
  transform: scale(1.5);
}

.thumbnail-container {
  background-color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.thumbnail {
  width: 100px;
  cursor: pointer;
  border: 2px solid transparent;
  margin-bottom: .5rem;
  height: 100px;
  object-fit: contain;
}

.thumbnail:hover{
  border: 1.5px solid #333;
  border-radius: 8px;
  padding: .5rem;
}

.thumbnail.selected {
  border: 1px solid #333;
  border-radius: 8px;
  padding: .5rem;
}

.next-button {
  position: absolute;
  bottom: 2rem;
  right: 1rem;
  background-color: white;
  color: white;
  padding: 12px 10px 10px 10px;
  cursor: pointer;
  z-index: 1;
  border-radius: 8px;
  border:1px solid #ccc;
  color: black;
  width: 54px;
  font-size: 1.25rem;
}

.arrow {
  background: none;
  border: none;
  font-size: 1.25rem;
  cursor: pointer;
  color: black;
}

.product-info {
  flex: 1;
  max-width: 660px;
}

.product-info h1 {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: .5rem;
}

.product-info .product-price {
  color: #555;
  margin-top: 0rem;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
  border-bottom: #ccc solid 1px;
  padding-bottom: 2rem;
}

.product-info button {
  font-size: 1rem;
  padding: 1rem 2rem;
  border-radius: 8px;
  width: 100%;
}

.product-info .product-content {
  margin-bottom: 1rem;
  max-width: 520px;
}

.purchase-row{
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.quantity-selector {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0rem 1rem 0rem 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  position: relative;
  width: 111px;
}

.quantity-selector button {
  background: none;
  padding: 0.5rem;
  cursor: pointer;
  color: #000;
  width: 55px;
  height: 55px;
}

.quantity-selector span {
  margin: 0 ;
  font-size: 1rem;
  color: #333;
  font-weight: 600;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.product-features{
  width: 100%;
  display: flex;
  justify-self: start;
  flex-direction: column;
  margin-left: 1rem;
}

.product-features li{
  margin-bottom: .5rem;
}

.product-features span{
  font-size: 1.1rem;
  font-weight: 400;
  color: #666;
  margin-right: .5rem;
}

.product-features i{
  width: 20px;
  margin-right: .75rem;
  color: #023875;
}

.product-features img{
  height: 1rem;
  filter: grayscale(100%);
}

.gift-container{
  background-color: #a6bad1;
  border-radius: 12px;
  padding: 1.5rem;
  text-align: center;
  position: relative;
  background-image: url('/banner-2025.png');
  background-size: cover;
  overflow: hidden;
  background-size: 120%;
  margin:2rem 0 0rem 0;
}

.gift-container .cover{
  background-color: rgb(3, 21, 49);
  opacity: .5;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0;
}

.gift-container h4{
  text-align: center;
  color:white;
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 0rem;
  position: relative;
  z-index: 2;
}

.gift-container h5{
  margin: 0rem 0 .5rem 0;
  font-size: 1.25rem;
  color: white;
  font-weight: 400;
  position: relative;
  z-index: 2;
}

.gift-container p{
  margin: 0;
  color: white;
  font-weight: 400;
  position: relative;
  z-index: 2s;
}


.review-arrow {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: black;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.review-arrow.prev {
  left: -2rem;
}

.review-arrow.next {
  right: -2rem;
}

.product-description {
  background-color: #f9f9f9;
  border-radius: 8px;
  width: 100%;
}

.product-content {
  max-width: 620px;
  margin: 0 auto;
}

.product-content ul,
.product-content ol {
  display: block;
  margin-left: 1.25rem;
  list-style-type:square
}

.product-content table{
  margin-top: 1.5rem;
}

.product-content li {
  display: list-item;
  justify-content: space-between;
  padding: .25rem;
}

.product-content td {
  border: solid 1px grey;
  margin: 0;
  padding: 4px 8px;
  font-size: .95rem;
}

.product-content h3 {
  margin-top: 2rem;
}

.product-content h4 {
  margin-bottom: -.5rem;
  font-weight: 600;
}

.product-content,
.product-features {
  margin-top: 2rem;
}

.product-content h2,
.product-features h2 {
  margin-bottom: 1rem;
}

.product-content p,
.product-features p {
  margin-bottom: 1rem;
}

.product-content hr{
  margin: 1.5rem 0;
}

.product-content img{
  max-width: 100%;
}

/* Mobile Styles */
@media (max-width: 1024px) {
  .product-hero .wrapper,
  .product-description .wrapper {
  padding: 00rem;
  }

  section.product-hero {
  padding: 2rem 1rem;
  }

  .product-image{
    flex-direction: column-reverse;
  }

  .large-image {
  width: 100%;
  height: 300px;
  margin-left: 0;
  margin-bottom: 1.5rem;
  }

  .next-button{
    right: 0;
    transform: scale(.8);
  }
  

  .thumbnail-container {
  flex-direction: row;
  gap: 5px;
  flex-wrap: wrap;
  }

  .thumbnail {
  height: 100px;
  }

  .product-info {
  max-width: 100%;
  }




  .gift-container h4{
    font-size: 1.25rem;
  }

  .product-reviews .slide p
  .product-info h1 {
  font-size: 1.5rem;
  }

  .product-info .product-price {
  font-size: 1.25rem;
  }



  .product-info button {
  font-size: 0.875rem;
  padding: 0.75rem 1.5rem;
  }

  .quantity-selector {
  width: 100px;
  }

  .quantity-selector button {
  width: 40px;
  height: 40px;
  }

  .quantity-selector span{
    font-size: .85rem;
    margin: 1px 0 0 2px;
    font-weight: 600;
  }

  .gift-container{
    margin-top: 1.25rem;
    padding: 1rem .25rem;
  }

  .gift-container h5{
    font-size: 1rem;
  }   

  .gift-container p{
    font-size: .8rem;
  }

  .product-description {
  padding: .5rem 2rem 2rem 2rem;
  }

  .product-content {
  max-width: 100%;
  }

  .product-content p,
  .product-content li,
  .product-content td {
  font-size: .9rem;
  }

  .product-content hr{
    margin: 1rem 0;
  }
}