@media (max-width: 1024px) {
    
    .hero{
        padding: 0 2rem;
        height: 66vh;
    }

    .hero h1,
    .intro h2,
    .products h2,
    .about h2{
        font-size: 2rem;
    }

    .hero h2{
        margin-bottom: 0;
    }

    .hero p{
        font-size: 1.1rem;
    }

    .hero button{
        font-size: 1.1rem;
    }

    .intro,
    .products .wrapper{
        padding:0.65rem 1.5rem 3rem 1.5rem;	
    }

    .intro p{
        font-size: 1rem;
    }

    .product-list{
        grid-template-columns:repeat(2, 1fr);
    }

    .product-item{
        padding: .75rem .5rem;
        min-width: 160px;
    }

    .product-item img{
        height:140px;
        min-width: 140px;
    }

    .product-item h3{
        font-size: 1rem;
        height:66px;
    }

    .pagination span{
        font-size: .75rem;
        width: 45px;
    }

    .pagination button{
        width: 110px;
        font-size: .85rem;
      }

    .product-detail .wrapper{
        padding: 2rem 1.5rem 0 1.5rem;
    }

    .product-columns{
        flex-direction: column;
        gap: 2rem;
    }

    .product-info h1{
        font-size: 1.5rem;
        margin-top: 0;
    }

    .product-image img:nth-child(3){
        display: none;
    }









    .about .wrapper{
        padding: 1rem 1.5rem 2rem 1.5rem;
        flex-direction: column-reverse;
    }

    .about-content{
        padding: 0;
    }

    .about-image img{
        height: 380px;
    }

    .about p{
        font-size: 1rem;
    }

    .testimonials .wrapper{
        padding: 2rem 1.5rem 1.5rem 1.5rem;
    }

    .testimonials h2{
        margin-top: 0;
        font-size: 2rem;
        text-align: left;
    }
    .testimonials-content{
        flex-direction: column;
    }

    .testimonial{
        margin: 0;
        margin-bottom: .25rem;
    }

    .contact .wrapper{
        flex-direction: column;
        padding: 2rem 1.5rem 2.5rem 1.5rem;
    }

    .contact-content{
        padding: 0%;
    }

    .contact h2{
        margin-top: 0;
        font-size: 2rem;
    }

    .contact p{
        font-size: 1rem;
        margin-bottom: 2rem;
    }



    .legal{
        padding: 1rem 1.5rem;
    }

    .legal h1{
        font-size: 2rem;
    }

    .legal h2{
        font-size:1.25rem;
    }




    footer{
        flex-direction: column;
        padding: 2.5rem 1.5rem;
    }
    
    .footer-column{
            margin: 0 0 1.5rem 0;
    }

    footer h4{
        margin-top: 0;
    }
    
  }