/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Lexend+Deca:wght@400;500;600;700&display=swap');

@font-face {
    font-display: swap;
    font-family: "Neue Montreal";
    font-style: normal;
    font-weight: 200 800;
    src: url(https://www.upwork.com/static/fonts-global/4.5.1/neue-montreal-variable.woff2) format("woff2")
}

.cache{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 275px;
    height: 60px;
    background-color: #F2F1F2;
}

/* Appliquer Lexend Deca aux titres */
h1, h2 {
    font-family: 'Neue Montreal', sans-serif;
    font-weight: 500;
}

  /* Appliquer Inter au reste du texte */
body, p, a, div, input, button {
    font-family: 'Neue Montreal', sans-serif;
}

.paiement-container {
  display: flex;
  justify-content: start;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  padding: 13vh 0;
}




.logo{
    width: 130px;
}

.logo.talents{
    margin-top: .5px;
    position: absolute;
    left: 1.5rem;
    top: 1rem;
}

.logo.upwork{
    width: 90px;
    margin-left: 0.2rem;
    position: absolute;
    right: 1.25rem;
    top: 1rem;
}

.graphity-top{
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
}

.graphity-bot{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60%;
}

.process{
    width: 290px;
}

.shop-info h1{
    font-weight: 500;
    font-size: 42px;
    line-height: 130%;
    color: white;
    width: 573px;
}

.shop-info {
  text-align: left;
  margin-bottom: 20px;
  margin-top: 8.75rem;
}

.shop-info h2{
    font-size: 1rem;
    color: rgb(79, 79, 79);
    font-weight: 500;
    margin:0px;
}



.shop-logo {
  max-width: 100px;
  margin-bottom: 10px;
}

.paiement-container h3{
    font-size: 1rem;
    margin-bottom: .25rem;
    margin-top: 2rem;
    font-weight: 500;
}

.cart-summary{
    max-width: 460px;
}

.cart-summary ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ccc;
  margin-bottom: .5rem;
  margin-top: 2.5rem;
}

.cart-summary li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.cart-summary img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.cart-item{
    display: flex;
    align-items: start;
    width: 100%;
    justify-content: space-between;
    margin-right: .5rem;
    margin-bottom: 1rem;
}

.cart-item *{
    margin: 0;
}

.cart-item p{
    margin-top: 0rem;
    font-weight: 500;
}

.cart-item p.quantity{
    color: #9c9c9c;
    font-weight: 400;
}


.discount {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 0 2rem 0;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #ccc;
}

.total-price {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: bold;
}

.total-price h4{
    font-weight: 7  00;
}

.total-price *{
    margin: 0;
}

.secure.footer{
    position: absolute;
    bottom: 3rem;
}






.checkout-form {
  display: flex;
  flex-direction: column;
}

.checkout-step{
    display: none;
}

.checkout-step.confirmation{
    text-align: center;
    margin-top: 20vh;
}

.checkout-step p {
    color: #666;
    margin-top: .5rem;
    margin-bottom: 2rem;
}

.checkout-step.active{
    display: block;
}




.checkout-buttons{
    display: flex;
    justify-content: space-between;
    }

.checkout-buttons .back-checkout{
    background-color: white;
    color: #666;
    border: solid #666 1px;
    width: 56px;
    margin-right: .75rem;
}

.checkout-buttons .back-checkout:hover{
    border-color: black;
    background-color: white;
}


.checkout-form label {
  margin-bottom: .5rem;
  font-size: 14px;
  display: flex;
  font-weight: 500;
  flex-direction: column;
  width: 100%;
  margin-top: 1.5rem;
  justify-content: center;
}

.checkout-form label span{
    margin-left: 4px;
}

.checkout-form input {
  margin-top: .75rem;
  width: 100%;
    height: 48px;
    padding: 0px 1rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, rgba(15, 24, 74, 0.16) 0px 0px 0px 1px, rgba(15, 24, 74, 0.08) 0px 2px 5px 0px;
    border: 0px;
    border-radius: 10px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.5);
    color: rgb(59, 59, 59);
    caret-color: rgb(8, 17, 68);
}

input:focus{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 0px 1px, rgba(15, 24, 74, 0.16) 0px 0px 0px 1px;   
}

input::placeholder{
    color: #a3a3a3;
    font-size: 14px;
}

.checkout-form input[type="radio"]{
    width: 100%;
    height: 100%;
}

.checkout-form button {
  background-color: #108A00;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 2rem;
  border-radius: 12px;
  height: 52px;
  width: 100%;
  font-size: .9rem;
  font-weight: 500;
  letter-spacing: .25px;
}

.checkout-form button:hover {
  background-color: #14A800;
}


.form-row{
    display: flex;
    justify-content: space-between;
}

.form-row label{
    width: 48%;
}

.form-row input{
    width: 100%;
}

.pass-row {
    display: flex;
    justify-content: flex-start;
}

.pass-row span{
    margin-right: 4px;
}

.pass-row li{
    color: #929292;
    font-size: 12px;
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 0;
    font-weight: 500;
    margin-right: 1.25rem;
}

.completed {
  text-decoration: line-through;
}

.stripeLogo{
    width: 40px;
}

.secure-row{
    display: flex;
    align-items: center;
    margin: 1rem auto;
    justify-content: center;
}

.secure{
    font-size: .75rem;
    color: #b5b5b5; 
    font-weight: 500;
    margin-top: .72rem;
    text-align: center;
}

.secure a{
    color: #b5b5b5;
}

.secure a:hover{
    text-decoration: underline;
}

.secure-row p{
    margin: 0 .5rem 0 -.5rem;
    color: #a3a3a3;
}



.payment-method {
    border: solid 1px #ccc;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    height: 4rem;
}

.payment-method.unvalaible{
    opacity: .5;
    pointer-events: none;
    margin-bottom: 0;
    margin-top: 1rem;
}

.payment-method.selected {
    border: solid 2px #333;
    margin-top: .75rem;
}

.payment-method * {
    margin: 0 !important;
    padding: 0 !important;
}

.payment-method input {
    margin-right: 1rem !important;
    appearance: none;
}

.payment-method img {
    height: 1.5rem;
    position: absolute;
    left: 1.5rem;
}

.payment-method span {
    font-weight: 500;
    font-size: .9rem;
    color: #aaa;
    font-style: italic;
    position: absolute;
    right: 1.5rem;
}



.loading-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loading-wrapper article{
    background: white;
    border-radius: 16px;
    padding: 2rem 3rem 3rem 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loading-wrapper h3{
    margin-top: .5rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.loading-wrapper p{
    color: #666;
    margin-top: .5rem;
}

.loading-spinner {
    margin-top: 1rem;
  border: 8px solid #f3f3f3;
  border-top: 8px solid #108A00;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}














@media (max-width: 1024px) {
    .graphity-top,
    .graphity-bot{
        width: 60%;
    }


    .cache{
        height: 30px;
        width: 100%;
    }
    .paiement-container {
        flex-direction: column;
        height: auto;
    }

    .cart-summary li{
        justify-content: space-between;
    }

    .cart-item{
        margin-right: 0;
    }

    .left-column, .right-column {
        width: 100%;
        padding: 2rem;
    }

    .left-column {
        padding-bottom: 2rem;
        min-width: 0px;
    }

    .left-column h4{
        width: 75%;
    }

    .right-column {
        padding-bottom: 2rem;
        padding-top: 1.25rem;
    }

    .shop-info{
        margin-top: 1.5rem;
    }

    .shop-info h1 {
        font-size: 1.5rem;
        width: auto;
        margin-right: -.5rem;
    }

    .shop-info h2 {
        font-size: 0.875rem;
    }

    .cart-summary {
        margin-top: 1.5rem;
    }

    .cart-summary ul {
        margin-top: 1.5rem;
    }

    .secure.footer{
        position: static;
        margin-top: 2rem;
        text-align: left;
    }

    .cart-item *{
        font-size:.9rem;
    }

    .cart-item p {
        margin-top: 0rem;
    }

    .discount {
        margin: 1rem 0 1.5rem 0;
        padding-bottom: 1rem;
    }

    .discount h4{
      font-weight: 400;
    }

    .total-price {
        font-size: 16px;
    }

    .checkout-form label {
        margin-top: 1rem;
        width: 100%;
    }

    .checkout-form span{
        margin-left: 4px;
    }

    .form-row label{
        width: 48%;
    }

    .form-row input {
        margin-bottom: 0rem;
    }

    .paiement-container h3{
        margin-top: 1rem;
    }

    .pass-row {
        flex-wrap: wrap;
    }

    .loading-wrapper article{
        padding: .5rem 2rem 2rem 2rem;
    }
}



